canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.center{
  text-align: center;
  vertical-align: middle;
  font-family: Arial;
  font-weight: 200;
}
.Team{
  margin: 0 auto;
  background-color: #dddddd;
  width: 50%;
}

.Nimi{
  font-size: 30px;
}

.TeamResults{
  /* text-align: center; */
  margin: 0 auto;
  min-width: 796px;
  display: none;
  float:center;
  text-align: center;
}

#TeamrResultinfo {
  width: 100% !important;
  font-family:  Arial;
}

#game_results div{
	border-radius: 2px;
}


#game_results{
  float:left;
  width: 40%;
  max-width:360px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial;
}
#main div:first-child,
#main div:last-child{
  /* display: inline; */
  white-space: nowrap;
  width: 40%;
}

#main {
  width: 100%;
  height: 20px;
}
#main div{
  float:left;
}

#main .center{
  width: 10%;
}
.hover {
  background:	rgb(200,200,200);

}
.voitto{
  background:	rgb(144,255,59);
  font-weight: bold;
}
.havio{
  background:	rgb(255, 51, 57);
}
.tasapeli{
  background:	rgb(112,112,112);
}

.era{
 	float:left;
  width: 100%;
}
.erat{
  display: none;
  width: 100%;

}

.era div{
  float:left;
}

.leveys{
  width: 40%;
}
.era .center{
  width: 10%;
}
.Team_PlayerList {
  display: none;
  width: 58%;
  border-radius: 2px;
  float:left;
  text-align: center;
}
#Team_PlayerList tbody tr:hover td{
    background-color: rgb(220,220,220) !important;
}
#Team_PlayerList tbody{
  font-family: Arial;
}
.TeamMore{
  float:center;
  font-family: Arial;
  color : blue;
  text-align: center;
}
